.detail {
    background-color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 8px;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    gap: 20px;
    justify-content: center;

    @media screen and (max-width: 600px) {
        display: block;
    }
}

.showVideo {
    background: #008eff;
    color: white;
    font-weight: bold;

    @media screen and (max-width: 600px) {
        margin: auto;
        display: block;
    }
}

.listDetail {
    @media screen and (max-width: 600px) {
        margin: 2rem auto 0.5rem;
        width: fit-content;
        padding: 0;
    }
}

.edit-button {
    align-self: center;
    cursor: pointer;
    margin: auto;
    display: block;
}

.edit-button svg {
    width: 20px;
    height: 20px;
}

.onChange{
    color: white;
    font-weight: bold;
    margin: auto;
}

.lds-ring,
.lds-ring div {
    box-sizing: border-box;
}

.lds-ring {
    width: 80px;
    height: 80px;
    color: #ffffff;
    margin: auto;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid currentColor;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: currentColor transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}