.detail {
    background-color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 8px;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    gap: 20px;
    justify-content: center;
    @media screen and (max-width: 600px) {
        display: block;
    }
}

.showVideo {
    background: #008eff;
    color: white;
    font-weight: bold;
    @media screen and (max-width: 600px) {
        margin: auto;
        display: block;
    }
}

.listDetail {
    @media screen and (max-width: 600px) {
        margin: 2rem auto 0.5rem;
        width: fit-content;
        padding: 0;
    }
}