<div *ngIf="player">
  <div class="detail">
    <button id="showVideo" (click)="playVideo()" class="showVideo">{{ play ? 'Cerrar video' : 'Ver video' }}</button>
    <ul class="listDetail">
      <li><b>Puntos por partido:</b> {{ player.points }}</li>
      <li><b>Asistencias:</b> {{ player.assists }}</li>
      <li><b>Rebotes:</b> {{ player.rebounds }}</li>
      <li><b>Robos:</b> {{ player.steals }}</li>
      <li><b>Tapones:</b> {{ player.blocks }}</li>      
    </ul>
  </div>
  <app-media-component *ngIf="play" [player]="player"></app-media-component>
</div>
