<div *ngIf="player">
  <div class="detail">
    <button id="showVideo" (click)="playVideo()" class="showVideo">{{ play ? 'Cerrar video' : 'Ver video' }}</button>
    <ul class="listDetail">
      <li><b>Posición:</b> {{ player.position }}</li>
      <li><b>Edad:</b> {{ player.age }}</li>
      <li><b>Altura:</b> {{ player.height }}</li>
      <li><b>Puntos por partido:</b> {{ player.points }}</li>
      <li><b>Asistencias:</b> {{ player.assists }}</li>
    </ul>
  </div>
  <app_media_component *ngIf="play" [player]="player"></app_media_component>
</div>
