<div class="modal" id="createPlayers" style="display: block;" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <ng-container *ngIf="!blueButtonPress; else loading">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Añadir jugador:</h5>
        </div>
        <div class="modal-body">
          <form [formGroup]="form" (change)="checkInputs()">
            <div class="column">
              <div class="mb-3">
                <label for="name">Nombre:*</label>
                <input type="text" class="form-control" id="name" formControlName="name" required>
              </div>
              <div class="mb-3">
                <label for="surname">Apellido:*</label>
                <input type="text" class="form-control" id="surname" formControlName="surname" required>
              </div>
              <div class="mb-3">
                <label for="placeOfBirth">Lugar de nacimiento:*</label>
                <input type="text" class="form-control" id="placeOfBirth" formControlName="placeOfBirth" required>
              </div>
              <div class="mb-3">
                <label for="age">Edad:*</label>
                <input type="number" class="form-control" id="age" formControlName="age" required>
              </div>
              <div class="mb-3">
                <label for="lastTeam">Último equipo:*</label>
                <input type="text" class="form-control" id="lastTeam" formControlName="lastTeam" required>
              </div>
              <div class="mb-3">
                <label for="lastLeagueSport">Última liga:*</label>
                <input type="text" class="form-control" id="lastLeagueSport" formControlName="lastLeagueSport" required>
              </div>
            </div>
            <div class="column">
              <div class="mb-3">
                <label for="position">Posición:*</label>
                <select class="form-control" id="position" formControlName="position" required>
                  <option disabled selected value="">Elige una opción</option>
                  <option value="Base">Base</option>
                  <option value="Escolta">Escolta</option>
                  <option value="Alero">Alero</option>
                  <option value="Pivot">Pivot</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="points">Puntos por partido:*</label>
                <input type="number" class="form-control" id="points" formControlName="points" required>
              </div>
              <div class="mb-3">
                <label for="assists">Asistencias:*</label>
                <input type="number" class="form-control" id="assists" formControlName="assists" required>
              </div>
              <div class="mb-3">
                <label for="height">Altura:*</label>
                <input type="number" class="form-control" id="height" formControlName="height" required>
              </div>
              <div class="mb-3">
                <label for="onFileImgUpload">Imagen:* </label>
                <input type="file" class="form-control" id="onFileImgUpload" formControlName="onFileImgUpload" accept="image/png, image/jpeg" (change)="getImage($event)" required>
              </div>
              <div class="mb-3">
                <label for="onFileVideoUpload">Video:* </label>
                <input type="file" class="form-control" id="onFileVideoUpload" formControlName="onFileVideoUpload" accept="video/mp4" (change)="getVideo($event)" required>
              </div>
            </div>
          </form>
          <p>* Campo obligatorio.</p>
        </div>
        <div class="modal-footer">
          <button type="submit" form="form" class="btn btn-primary" id="uploadButton" [disabled]="!formCompleted" (click)="uploadPlayer()">Añadir jugador</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeCreatePlayerModal()">Cerrar</button>
        </div>
      </div>
    </ng-container>
    <ng-template #loading>
      <div class="onChange">
        <p>Realizando operación, espere ...</p>
        <div class="lds-ring">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
<div class="modal-backdrop fade show"></div>